<div class="image-container">
    <img src="/assets/bg-Cart.jpg" alt="Image 1">
    <img src="/assets/sale_01.jpg" alt="Image 2">
</div>


<div>
    <app-carousel></app-carousel>
</div>

<div class="home-img" >
    <img src="/assets/hm2.png" alt="">
</div>

<div class="background-section">
    <div class="text-center">
        <div class="powered-by-discord">
            <i class="pi pi-crown"></i>&nbsp;POWERED BY EMart
        </div>
        <div class="design-community-heading">
            Send Order of Happiness
        </div>
        <div class="subheading-text">
            Welcome to eMart, your one-stop online destination for everything you need—from everyday essentials to the latest gadgets and fashion trends. With thousands of products across a wide range of categories, eMart makes shopping easy, affordable, and secure. Whether you're upgrading your tech, refreshing your wardrobe, or stocking up for your home, we've got you covered. Experience hassle-free online shopping with fast delivery and unbeatable deals, only at eMart.           
        </div>
        <button pButton pRipple class="join-now-button" routerLink="/register">
            Sign Now
        </button>
    </div>
</div>