<nav class="navbar">
    <div class="navbar-brand">
        <a href="#" class="logo">
            <img src="/assets/blogo.png" alt="EMart Logo" width="50px"> EMart.lk
        </a>
    </div>

    <ul class="navbar-menu" [ngClass]="{'active': menuActive}">
        <li class="navbar-item">
            <a class="navbar-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"
                routerLink="/home">
                <i class="pi pi-home"></i>
                Home
            </a>
        </li>
        <li class="navbar-item">
            <a class="navbar-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"
                routerLink="/items">
                <i class="pi pi-gift"></i>
                Products
            </a>
        </li>
        <li class="navbar-item">
            <a class="navbar-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"
                routerLink="/info">
                <i class="pi pi-info-circle"></i>
                Info
            </a>
        </li>
    </ul>

    <div class="navbar-actions">
        <!-- <div class="cart">
            <p-button
                label="Cart"
                icon="pi pi-shopping-cart"
                class="cart-button"
                [outlined]="true"
                badgeClass="p-badge-contrast"
                (onClick)="showDialog()"
                [badge]="giftboxCount.toString()"
            ></p-button>
        </div> -->
        
        <p-menu #menu [model]="items" [popup]="true"></p-menu>
        
        <p-button *ngIf="!isLoggedIn" 
            (onClick)="menu.toggle($event)" 
            severity="info" 
            [outlined]="true" 
            [rounded]="true" 
            icon="pi pi-user">
        </p-button>
    
        <p-button *ngIf="isLoggedIn" 
            (onClick)="menu.toggle($event)" 
            [rounded]="true" 
            [text]="true">
            <img [src]="userImageUrl" alt="User" class="user-icon-image" />
        </p-button>
    
        <button class="navbar-toggler" (click)="toggleMenu()">
            <i class="pi pi-bars"></i>
        </button>
    </div>
</nav>

<p-dialog
    header="Shopping Cart"
    [modal]="true"
    [(visible)]="visible"
    [style]="{ width: '50rem', minHeight: '300px' }"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
>
    <div *ngIf="giftBoxItemsDetails && giftBoxItemsDetails.length > 0">
        <div *ngFor="let item of giftBoxItemsDetails" class="cart-item">
            <div class="item-image">
                <img [src]="item.image" alt="{{ item.name }}" />
            </div>
            <div class="item-info">
                <h4 class="item-name">#{{ item.id }} {{ item.name }}</h4>
                <div class="item-price">{{ item.unitPrice }} LKR</div>
            </div>
            <p-button
                icon="pi pi-times"
                [rounded]="true"
                severity="danger"
                [outlined]="true"
                (onClick)="removeItemFromArray(item.id)"
            ></p-button>
        </div>
        
        <div class="cart-footer">
            <p-button
                label="Buy & Send"
                icon="pi pi-send"
                [outlined]="true"
                class="buy-button"
                (onClick)="sendArray()"
            ></p-button>
        </div>
    </div>
    
    <div *ngIf="!giftBoxItemsDetails || giftBoxItemsDetails.length === 0" class="empty-cart">
        <i class="pi pi-shopping-cart empty-cart-icon"></i>
        <p>Your cart is empty</p>
    </div>
</p-dialog>