<p-toast />
<div class="path">
    <p-breadcrumb class="max-w-full" [model]="items" [home]="home" />
</div>
<div class="card">
    <p-tabView>
        <p-tabPanel header="New Orders">
            <p-iconField iconPosition="left">
                <p-inputIcon styleClass="pi pi-search" />
                <input type="text" pInputText placeholder="Search" />
            </p-iconField><br><br>
            <p-accordion class="w-full" expandIcon="pi pi-plus" collapseIcon="pi pi-minus">
                <p-accordionTab *ngFor="let order of fetchingPendingOrders">
                    <ng-template pTemplate="header">
                        <span class="head">
                            <p>Ordered date : {{order.createdAt}} &nbsp;&nbsp;&nbsp; Sending date : {{order.sendingDate}}
                            </p>
                            <p>Total price : {{order.totalPrice}}</p>
                            <span class="font-bold white-space-nowrap">
                                <p>User ID : {{order.userId}}</p>
                            </span>
                            <button pButton pRipple label="Ready to procceed" class="p-button-success" (click)="updateStatus(order.id,'INACTIVE')">
                            </button>
                        </span>
                    </ng-template>
                    <div class="m-0 xz">
                        <span>
                            {{order.recieverAddress}}<br>
                            Zip : {{order.zip}}
                        </span>
                        <span>
                            {{order.giftName}}<br>
                        </span>
                        <span>
                            <span>order IDs: <span *ngFor="let i of order.itemIds">{{i}} &nbsp;</span></span>
                        </span>
                    </div>
                </p-accordionTab>
            </p-accordion>
        </p-tabPanel>
        <p-tabPanel header="Processing">
            <p-iconField iconPosition="left">
                <p-inputIcon styleClass="pi pi-search" />
                <input type="text" pInputText placeholder="Search" />
            </p-iconField><br><br>
            <p-accordion class="w-full" expandIcon="pi pi-plus" collapseIcon="pi pi-minus">
                <p-accordionTab *ngFor="let order of fetchingProcessingOrders">
                    <ng-template pTemplate="header">
                        <span class="head">
                            <p>Ordered date : {{order.createdAt}} &nbsp;&nbsp;&nbsp; Sending date : {{order.sendingDate}}
                            </p>
                            <p>Total price : {{order.totalPrice}}</p>
                            <span class="font-bold white-space-nowrap">
                                <p>User ID : {{order.userId}}</p>
                            </span>
                            <p-button label="Delivered" (click)="updateStatus(order.id,'DELETED')" />
                        </span>
                    </ng-template>
                    <div class="m-0 xz">
                        <span>
                            {{order.recieverAddress}}<br>
                            Zip : {{order.zip}}
                        </span>
                        <span>
                            {{order.giftName}}<br>
                        </span>
                        <span>
                            <span>Item IDs: <span *ngFor="let i of order.itemIds">{{i}} &nbsp;</span></span>
                        </span>
                    </div>
                </p-accordionTab>
            </p-accordion>
        </p-tabPanel>
        <p-tabPanel header="Shipped Orders">
            <p-iconField iconPosition="left">
                <p-inputIcon styleClass="pi pi-search" />
                <input type="text" pInputText placeholder="Search" />
            </p-iconField><br><br>
            <p-accordion class="w-full" expandIcon="pi pi-plus" collapseIcon="pi pi-minus">
                <p-accordionTab *ngFor="let order of fetchingShippedOrders">
                    <ng-template pTemplate="header">
                        <span class="head">
                            <p>Ordered date : {{order.createdAt}} &nbsp;&nbsp;&nbsp; Sending date : {{order.sendingDate}}
                            </p>
                            <p>Total price : {{order.totalPrice}}</p>
                            <span class="font-bold white-space-nowrap">
                                <p>User ID : {{order.userId}}</p>
                            </span>
                            <p-button label="Delivered" severity="contrast" [disabled]="true" icon="pi pi-check" />
                        </span>
                    </ng-template>
                    <div class="m-0 xz">
                        <span>
                            {{order.recieverAddress}}<br>
                            Zip : {{order.zip}}
                        </span>
                        <span>
                            {{order.giftName}}<br>
                        </span>
                        <span>
                            <span>Item IDs: <span *ngFor="let i of order.itemIds">{{i}} &nbsp;</span></span>
                        </span>
                    </div>
                </p-accordionTab>
            </p-accordion>
        </p-tabPanel>
        <p-tabPanel header="Dilivered Orders">
            <p-iconField iconPosition="left">
                <p-inputIcon styleClass="pi pi-search" />
                <input type="text" pInputText placeholder="Search" />
            </p-iconField><br><br>
            <p-accordion class="w-full" expandIcon="pi pi-plus" collapseIcon="pi pi-minus">
                <p-accordionTab *ngFor="let order of fetchingShippedOrders">
                    <ng-template pTemplate="header">
                        <span class="head">
                            <p>Ordered date : {{order.createdAt}} &nbsp;&nbsp;&nbsp; Sending date : {{order.sendingDate}}
                            </p>
                            <p>Total price : {{order.totalPrice}}</p>
                            <span class="font-bold white-space-nowrap">
                                <p>User ID : {{order.userId}}</p>
                            </span>
                            <p-button label="Delivered" severity="contrast" [disabled]="true" icon="pi pi-check" />
                        </span>
                    </ng-template>
                    <div class="m-0 xz">
                        <span>
                            {{order.recieverAddress}}<br>
                            Zip : {{order.zip}}
                        </span>
                        <span>
                            {{order.giftName}}<br>
                        </span>
                        <span>
                            <span>Item IDs: <span *ngFor="let i of order.itemIds">{{i}} &nbsp;</span></span>
                        </span>
                    </div>
                </p-accordionTab>
            </p-accordion>
        </p-tabPanel>
    </p-tabView>
</div>