/* You can add global styles to this file, and also import other style files */
// *{
//     margin: 0;
// }

@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: 'Inter', Arial, sans-serif;
  }

  @font-face {
    font-family: 'Inter';
    src: url('/media/Inter-roman.var.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
/* Global scrollbar hiding - keeps scrolling functionality but hides scrollbars */
* {
  /* Hide scrollbar for Firefox */
  scrollbar-width: none;
  
  /* Hide scrollbar for IE and Edge */
  -ms-overflow-style: none;
  
  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
}

